<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index/sstyle.css">
    <script src="/static/index/sscript.js" type="module"></script>
    <title>Giriş Sayfası</title>
    <!-- <script src="/static/index/buttons.js"></script> -->
</head>
<body id="body">
    
    <div class="bg"></div>

    <div id="hiza">
        <div id="container">
        <form id="form">
            <div>
                <label class="label" for="fname">First Name: </label>
                <input class="entry" type="text" id="fname" name="fname" placeholder="Serdar">
                        
            </div>
            <br>
            <br>
            <div>
                <label class="label" for="passwd">Password: </label>
                <input class="entry" type="password" id="passwd" placeholder="********" name="passwd">
            </div>

            <br> <br>

            <div>
                <button id="reset" class="label button" type="reset">Reset</button>
                <button id="submit" class="label button" type="submit">Login</button>
            </div>
        </form>
    </div>
</body>
    </div>

</html>