<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <script src="/static/script.js" type="module"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Medya Kontrol</title>
  </head>
  <body>
    <div id="container">

      <button id="SesArtı" class="btn ses">Ses Arttır</button> <br>

      <button id="Önceki" class="btn parca">Önceki</button>
      
      <button id="BaşlatDurdur" class="btn">Başlat/Durdur</button>
      
      <button id="Sonraki" class="btn parca">Sonraki </button> <br>
      
      <button id="SesEksi" class="btn ses">Ses Azalt</button>
  
    </div>
    <h1 id="baslık">Deniz Eren YILDIRIM</h1>
    <p id="my-paragraph" class="my-paragraph">{{ my_var }}</p>
    
    
  </body>
</html>